<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to the Index Page</h1>
  <p>Email: <%= usuario.email %></p>
  <% if (usuario.email != undefined) { %>
    <button onclick="" id="Logout-button">Logouta</button>
    <h1><%= usuario.id %></h1>
  <% } %>

    <form action='/upload-image' enctype='multipart/form-data' method='POST' id="upload-image">
      <input type='file' name='imageFile' id= 'image'  />
      <button type='submit'>Upload</button>
    </form>

    <h2>Tu bella imágen</h2>
    <% if (usuario.perfilImage) {  %>

        <img src="<%= usuario.perfilImage %>" alt="User profile photo showing the account holder in a neutral setting, with a calm expression, displayed on the main page. No visible text in the image." style="width: 200px; height: 200px;">
    <% } %>


  <script>
    // Un console.log me tiraba error y me dejaba de funcionar el logout
    const uploadImage = document.querySelector('#upload-image');
    const logoutButton = document.querySelector('#Logout-button');
    logoutButton?.addEventListener('click', e => {
      fetch('/logout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => {
        console.log('Response:', response);
        if (response.ok) {
          window.location.href = '/login';
        } else {
          alert('Logout failed. Please try again.');
        }
      })
    });
 
    uploadImage?.addEventListener('submit', e => {
      e.preventDefault();
      
      const files = document.querySelector('#image');
      const formData = new FormData();
      for (let pair of formData.entries()) {
        console.log(pair[0] + ':', pair[1]);
      }
      formData.append('imageFile', files.files[0]);
      console.log('FormData:', formData);
      fetch(`/api/usuarios/upload-image`, {
        method: 'POST',
        
        body: formData
      }).then (response => {
        console.log('formData:', formData);
        if (response.ok) {
          console.log('Files uploaded successfully');
        } else {
          console.error('File upload failed');
        }
        window.location.href = '/';
      }).catch(error => {
        console.error('Error uploading files:', error);
      });
    })

  </script>
</body>
</html>