/* Variables y propiedades globales no visuales */
:root {
  --color-texto: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body {
  margin: 0;
  padding:0;
  background-color: #fbfbfb;
  font-family: 'Nunito', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}